:root {
    --grid-item-size: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: #ffffff;
    overflow: hidden;
}

.app-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.grid-container {
    position: absolute;
    inset: 0;
    touch-action: none;
    overflow: hidden;
    cursor: grab;
}

.grid-container:active {
    cursor: grabbing;
}

.grid-wrapper {
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
}

.grid-item-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: var(--grid-item-size);
    height: var(--grid-item-size);
    margin: 10px;
    transform-style: preserve-3d;
}

.logo {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    height: 40px;
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-out;
}

.logo:hover {
    transform: scale(1.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: 2px dotted black;
    cursor: pointer;
}

.grid-item {
    position: relative;
    width: var(--grid-item-size);
    height: var(--grid-item-size);
    overflow: hidden;
    transition: all 0.2s ease-out;
    padding: 3px;
    cursor: auto;
}

.grid-item:hover {
    filter: brightness(0.2);
}

.grid-item img:not(.service-icon) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-container {
    position: relative;
    display: flex;
    backdrop-filter: blur(10px);
    pointer-events: auto;
    top: 0px;
}

.service-link {
    cursor: pointer;
    pointer-events: auto;
    transition: transform 0.2s ease;
}

.service-icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.service-link:hover .service-icon {
    transform: scale(1.1);
}

.services-overlay {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
